.addInputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.heading{
  font-family: Georgia;
  font-size: 34px;
  font-weight: bold;
  color: blueviolet;
}
.input {
  width: 400px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 5px;
}
.addButton{
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  background-color: green;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  width: 400px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
.para{
  margin-left: 10px;
  margin-right: 10px;
}
.iconbutton{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.addButtondel{
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  background-color: red;
  cursor: pointer;
}