.addInputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.heading{
  font-family: Georgia;
  font-size: 34px;
  font-weight: bold;
  color: blueviolet;
}
.input {
  width: 400px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 5px;
}
.addButton{
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: none;
  background-color: green;

}
.container {
  text-align: center;
}
.sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}